<!DOCTYPE html>
  <html>
<head>

  <title>MiTaller</title>


  <meta charset="UTF-8">

  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:600'>
  
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>


      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
          
</head>


<!-- Barra de navegación -->
<body>
  

<header>
   <nav>
   
  <nav>
    <div class="nav-wrapper transparent">

    <a href="/" class="brand-logo"><i class="material-icons">home</i></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

    </div>
  </nav>
</nav>
</header>


      <section>
         <div class="row">
    <div class="col s12">
    <br>
    <br>

      <form action="/Admin/login" method="POST"> 
        
        <div class="row">
               <div class="input-field col s4 offset-s4">
                 <input placeholder="toyota@corolla.com" id="inicio_email" name="correo" type="email" class="validate">
                 <label class ="active" for="email" data-error="Correo inválido" data-success="">Correo</label>
               </div>
        </div>


        <div class="row">
             <div class="input-field col s4 offset-s4">
                <input id="inicio_pass" type="password" name="clave" class="validate">
                <label class="active" for="password" >Contraseña</label>
            </div>
         </div>
      


            <div class="row">
              <div class="input-field col s4 offset-s4">
                 <button class="btn waves-effect waves-light" type="submit" class="lato">Confirmar
                 </button>
              </div>
          </div>


      </form>

      

    </section>





</body>

</html>