  <!DOCTYPE html>
  <html>
<head>

  <title>MiTaller</title>

  <title>MiTaller</title>

  <meta charset="UTF-8">

  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:600'>
  
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>


      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      
       
          
</head>

    <body>

<style type="text/css">
  
body{
  background: url("https://digitalsynopsis.com/wp-content/uploads/2014/06/supercar-wallpapers-lamborghini-1.jpg") fixed no-repeat 0 0;

}


h3 {

font-family: 'Permanent Marker', cursive;
}



</style>
<!-- Barra de navegación -->

<header >
   <nav>
   
  <ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Iniciar Sesión</a></li>
  <li><a href="#!">Registrarse</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper transparent">

    <a href="/" class="brand-logo"><i class="material-icons">home</i></a>

    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

    <ul class="right hide-on-med-and-down">

    

      <li > Ingrese su cedula</li>

      <li> <form  action="Vehiculo/misveh" method="POST">

      <li > <input type="text" value="" style=" margin-left: 20px;background-color:White; color:Black; height: 20px; width: 95px;" name="ced"/> </li> 
      <li> <button class="btn waves-effect waves-light" style="margin-left: 50px; margin-right: 20px; " type="submit" class="lato">Buscar</button> </li>
      
      </form>
      </li>
      
      
      
      <li><a href="/Admin/inicio"><i class="material-icons">account_circle</i></a></li>

    
   
    </div>
  </nav>
</nav>
</header>


  <section >

    <div class="fullscreen" >

  <div  >
    <ul >
      <li>
      <div class="caption center-align">
          <h3 style="color: White">¡Bienvenido a MiTaller!</h3>
          <h5 class=""> </h5>
        </div>
       
      </li>
      
    </ul>
  </div>
    
  </div>
    </section>





      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="materialize.min.js"></script>
      <script src="js/jquery.js" ></script>



    </body>
  </html>

