<!DOCTYPE html>
<html>
<head>

  <title>MiTaller</title>

  <meta charset="UTF-8">

  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:600'>
  
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>


      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
       
          
</head>


<body>
<header>
   <nav>
   
  
  <nav>
    <div class="nav-wrapper transparent">

    <a href="/" class="brand-logo"><i class="material-icons">home</i></a>
 

    
    </div>
  </nav>
</nav>
</header>

<section>
<br>
<br>

<!-- AQUI COMIENZA EL FORMULARIO-->

    <form class="col s12" action="/Vehiculo/create" method="POST">

    <input type='hidden' name='idcliente' value='<%= Cliente %>' >

      <div class="row">

        <div class="input-field col s4 offset-s4">
          <input id="getmarca" type="text" class="validate" name="Marca">
          <label class ="active" for="Marca">Marca</label>
        </div>
        </div>

        <div class="row">
        <div class="input-field col s4 offset-s4">
          <input id="getmodelo" type="text" class="validate" name="Modelo">
          <label class ="active" for="Modelo">Modelo</label>
        </div>
      </div>

        <div class="row">
        <div class="input-field col s4 offset-s4">
          <input id="gettipo" type="text" class="validate" name="Tipo">
          <label class ="active" for="Tipo">Tipo</label>
        </div>
      </div>      

      <div class="row">

        <div class="input-field col s4 offset-s4">
          <input id="gettaño" type="number" class="validate" name="Ano">
          <label class ="active" for="Año">Año</label>
        </div>
        </div>


      <div class="row">
        <div class="input-field col s4 offset-s4">
          <input id="getcilindrada" type="number" name="Cilindro" class="validate">
          <label class ="active" for ="Cilindrada">Cilindrada</label>
        </div>
      </div>

      

      <div class="row">
        <div class="input-field col s4 offset-s4">
          <input  id="getplaca" type="text" name="Placa">
          <label class ="active" for="Placa">Placa</label>
        </div>
      </div>      

      <div class="row">
          <div class="input-field col s4 offset-s4">
               <button class="btn waves-effect waves-light" type="submit" class="lato">Confirmar
              </button>
          </div>
    </div>
      


    </form>
    
  

</section>

    <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
  
      
      <script>

        $( document ).ready(function(){

          $(".button-collapse").sideNav();
          $('.slider').slider({height: 590});
          
          });

      </script>

</body>
</html>