
<!DOCTYPE html>
<html>
<head>

	<title>MiTaller</title>


  <meta charset="UTF-8">

  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:600'>
  
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>


      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
       
          
</head>


<body>
<header>
	 <nav>

  <nav>
    <div class="nav-wrapper transparent">

    <a href="/" class="brand-logo"><i class="material-icons">home</i></a>
    </div>
  </nav>
</nav>
</header>
<br>
<br>


<section>

<!-- AQUI COMIENZA EL FORMULARIO-->

    <div class="row">
    <form class="col s12" action="/Cliente/create" method="POST" >

      <div class="row">
        <div class="input-field col s4 offset-s4">
          <input id="getnombre" name="Nombre" type="text" class="validate" >
          <label class ="active" for="nombre">Nombre</label>
        </div>
        </div>

        <div class="row">
        <div class="input-field col s4 offset-s4">
          <input id="getapellido" type="text" name="Apellido" class="validate">
          <label class ="active" for="apellido">Apellido</label>
        </div>
      </div>

        <div class="row">
        <div class="input-field col s4 offset-s4">
          <input id="getcedula" type="number" class="validate" name="Cedula">
          <label class ="active" for="cedula">Cedula</label>
        </div>
      </div>      

      <div class="row">

        <div class="input-field col s4 offset-s4">
          <input id="gettelefono" type="number" class="validate" name="Telefono">
          <label class ="active" for="telefono">Teléfono</label>
        </div>
        </div>


      <div class="row">
        <div class="input-field col s4 offset-s4">
          <input placeholder="huellas@gmail.com" id="getemail" name="Correo" type="email" class="validate">
          <label class ="active" class ="active" for="email" data-error="Correo inválido" data-success="Correo válido">Correo</label>
        </div>
      </div>

      <div class="row">
    <div class="input-field col s4 offset-s4">
      <button class="btn waves-effect waves-light" type="submit" class="lato">Confirmar
  </button>
  </div>
    </div>

    </form>
    
  </div>

</section>

	  <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
  
      <script src="js/jquery.js" ></script>
      


</body>
</html>